<!-- 2022-04-13 13:30:41 -->
<div class="leftPanel">
    <div class="leftDrawer">
        <div class="rowContainer">
            <div class="bar colContainer">
                <div class="colContainer">
                    <div class="barLabel">&nbsp;</div>
                    <button id="leftDrawerBtnClose" class="button icon-close" aria-label="Close Menu Panel" title="Close Menu Panel"></button>
                </div>
            </div>
            <div class="bar secondary">
                <div class="colContainer">
                    <button id="tabMenu" class="tab current transText" title="Menu (m)">Menu</button>
                </div>
            </div>
            <div class="colContainer">
                <div id="tabContentMenu" class="tabContent current">
                    <div id="mainMenu" class="verticalMenu"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="shield leftShield">&nbsp;</div>
</div>
<div class="centerPanel rowContainer">
    <div class="bar colContainer">
        <button id="centerPanelBtnMenu" class="button icon-menu" aria-label="Menu" title="Menu"></button>
        <div id="pageTitle" class="barLabel">&nbsp;</div>
        <button id="centerPanelBtnBarMore" class="button icon-moreV" aria-label="More Options" title="More Options"></button>
    </div>
    <div class="tabContentContainer colContainer">
        <div id="tabContentSettings" class="tabContent rowContainer">
            <div class="bar secondary">
                <div class="colContainer">
                    <div class="barLabel transText">Settings</div>
                    <span class="blank">&nbsp;</span>
                    <button id="btnSettingsClose" class="button icon-close" aria-label="Close Settings" title="Close Settings"></button>
                </div>
            </div>
            <div class="mainScroll">
                <div class='settingContent'>
                    <p>Loading settings...</p>
                </div>
            </div>
        </div>
        <div id="tabContentReader" class="tabContent current">
            <div id="readerMainScroll" class="mainScroll padding">
                <div id="mainContent">
                    <div class="banner">
                        <a href="#0">
                            <img src="images/banners/calling.jpg" alt="Christ calling Peter to choose to follow Him" width="600px">
                        </a>
                    </div>
                    <div id="mainMenu" class="verticalMenu">
                        <p>Loading content...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="referencePanel" class="">
        <!-- Message Panel -->
    </div>
    <div class="bottomPanel">
    </div>
</div>
<div class="rightPanel">
    <div class="rightDrawer">
        <div class="rowContainer">
            <div class="bar">
                <div class="colContainer">
                    <button id="rightDrawerBtnClose" class="button icon-close" aria-label="Close Notes Panel" title="Close Notes Panel"></button>
                    <span class="blank">&nbsp;</span>
                    <div id="avatarLabel" class="barLabel"></div>
                    <button id="avatar" class="button" aria-label="User Options" title="User Options"></button>
                </div>
            </div>
            <div class="colContainer">
            </div>
        </div>
    </div>
    <div class="shield rightShield">&nbsp;</div>
</div>
<div id="moreShield" class="shield moreShield">
    <div class="moreMenu"></div>
</div>
<div id="customDialog" class="shield"></div>