<div class="suggestion rowContainer">
    <form id="sugForm">
        <label for="label">Label</label>
        <input id="label" type="text" value="<%= label %>"><br />
        <label for="options">Options</label>
        <textarea id="options"><%= options.join('\n') %></textarea>
        <label for="stDate">Starting</label>
        <input id="stDate" type="date" value="<%= stDate %>">
        <input id="stTime" type="time" value="<%= stTime %>"><br />
        <label for="recurValue">Recurrence</label>
        <input id="recurValue" type="text" value="<%= recurValue %>" size="3">
        <select id="recurUnit">
        <option value="">(unit)</option>
        <% 
        var options = ['minutes', 'hours', 'days', 'weeks', 'months', 'years'];
        options.map((opt, i) => {
            let selected = (options.indexOf(recurUnit) == i) ? "selected" : '';
            %><option value="<%=opt%>" <%=selected%>><%=opt%></option><%
        });
        %>
        </select><br />
        <label for="due">Due</label>
        <input type="text" disabled value="<%= due %>" class="datetime">
        <!-- datetime-local -->
        <div class="right">
            <button id="btnCancelSuggestion" class="systemBtn">Cancel</button>
            <button id="btnSaveSuggestion" class="primary systemBtn">Save</button>
        </div>
    </form>
</div>