/* https://icomoon.io/app/#/select/font > pwlib*/

@font-face {
    font-family: 'icon';
    src: url('icon.woff') format('woff');
    /*?hwyjcw*/
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: never;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
    content: "\e95e";
}

.icon-radioOn:before {
    content: "\e95d";
}

.icon-circle:before {
    content: "\e95c";
}

.icon-send:before {
    content: "\e95a";
}

.icon-publish2:before {
    content: "\e953";
}

.icon-export:before {
    content: "\e954";
}

.icon-import:before {
    content: "\e955";
}

.icon-publish:before {
    content: "\e958";
}

.icon-upload:before {
    content: "\e959";
}

.icon-download:before {
    content: "\e915";
}

.icon-info:before {
    content: "\e94f";
}

.icon-playlistAdd:before {
    content: "\e956";
}

.icon-playlistRemove:before {
    content: "\e957";
}

.icon-fileMove:before {
    content: "\e952";
}

.icon-folderAdd:before {
    content: "\e950";
}

.icon-itemAdd:before {
    content: "\e951";
}

.icon-reading:before {
    content: "\e948";
}

.icon-whatsapp:before {
    content: "\e949";
}

.icon-audio:before {
    content: "\e94a";
}

.icon-video:before {
    content: "\e94b";
}

.icon-quiz:before {
    content: "\e94c";
}

.icon-assignment:before {
    content: "\e94d";
}

.icon-discussion:before {
    content: "\e94e";
}

.icon-library:before {
    content: "\e944";
}

.icon-volumeOff:before {
    content: "\e942";
}

.icon-volumeUp:before {
    content: "\e943";
}

.icon-left:before {
    content: "\e940";
}

.icon-right:before {
    content: "\e941";
}

.icon-down:before {
    content: "\e916";
}

.icon-up:before {
    content: "\e946";
}

.icon-expandDown:before {
    content: "\e945";
}

.icon-collapseUp:before {
    content: "\e947";
}

.icon-closedCaption:before {
    content: "\e93e";
}

.icon-closedCaptionOff:before {
    content: "\e93f";
}

.icon-toggleOff:before {
    content: "\e93b";
}

.icon-toggleOn:before {
    content: "\e93c";
}

.icon-remove:before {
    content: "\e90f";
}

.icon-add:before {
    content: "\e90b";
}

.icon-arrowLeft:before {
    content: "\e920";
}

.icon-arrowRight:before {
    content: "\e921";
}

.icon-back:before {
    content: "\e917";
}

.icon-forward:before {
    content: "\e919";
}

.icon-bookmarkAdd:before {
    content: "\e901";
}

.icon-bookmarkO:before {
    content: "\e924";
}

.icon-bookmarkF:before {
    content: "\e923";
}

.icon-cast:before {
    content: "\e912";
}

.icon-castF:before {
    content: "\e913";
}

.icon-removeCircle:before {
    content: "\e910";
}

.icon-check:before {
    content: "\e91a";
}

.icon-close:before {
    content: "\e90c";
}

.icon-compress:before {
    content: "\e92a";
}

.icon-expand:before {
    content: "\e92b";
}

.icon-copy:before {
    content: "\e90d";
}

.icon-loop:before {
    content: "\e902";
}

.icon-headset:before {
    content: "\e914";
}

.icon-mic:before {
    content: "\e903";
}

.icon-micO:before {
    content: "\e904";
}

.icon-micOff:before {
    content: "\e905";
}

.icon-play:before {
    content: "\e906";
}

.icon-pause:before {
    content: "\e907";
}

.icon-skipPrev:before {
    content: "\e908";
}

.icon-skipNext:before {
    content: "\e909";
}

.icon-forward10:before {
    content: "\e90a";
}

.icon-replay10:before {
    content: "\e90e";
}

.icon-filter:before {
    content: "\e911";
}

.icon-tune:before {
    content: "\e918";
}

.icon-dropDown:before {
    content: "\e91b";
}

.icon-fullscreen:before {
    content: "\e91c";
}

.icon-fullscreenExit:before {
    content: "\e93d";
}

.icon-menu:before {
    content: "\e91d";
}

.icon-moreH:before {
    content: "\e91e";
}

.icon-moreV:before {
    content: "\e91f";
}

.icon-refresh:before {
    content: "\e922";
}

.icon-share:before {
    content: "\e925";
}

.icon-home:before {
    content: "\e926";
}

.icon-search:before {
    content: "\e927";
}

.icon-settings:before {
    content: "\e928";
}

.icon-define:before {
    content: "\e93a";
}

.icon-translate:before {
    content: "\e929";
}

.icon-delete:before {
    content: "\e92c";
}

.icon-editNote:before {
    content: "\e92d";
}

.icon-dateRange:before {
    content: "\e92e";
}

.icon-flashcards:before {
    content: "\e938";
}

.icon-matching:before {
    content: "\e939";
}

.icon-multiChoice:before {
    content: "\e900";
}

.icon-mark:before {
    content: "\e92f";
}

.icon-markStyle:before {
    content: "\e930";
}

.icon-note:before {
    content: "\e931";
}

.icon-notes:before {
    content: "\e932";
}

.icon-schedule:before {
    content: "\e933";
}

.icon-starO:before {
    content: "\e934";
}

.icon-starF:before {
    content: "\e935";
}

.icon-tagO:before {
    content: "\e936";
}

.icon-tagF:before {
    content: "\e937";
}